@charset "UTF-8";

$cnt_width: 1000px;

$index_youtube_w: 285px;
$index_youtube_h: 180px;

$news_pic_w: 120px;
$news_pic_h: 80px;

$bd_w: 2px;

$header_h: 73px;

//------------------------------------*\
//		color
//------------------------------------*/
$normal_color: #51a506;
$normal_color2: #5d615e;

$logo_color1: #6EB92B;
$logo_color2: #5C605D;

$hover_color: #bc0021;
$footer_color: #585858;

$Grey_color1: #595757;

$Grey_color2: #747474;

$Grey_color3: #6b6b6b;
$Grey_color4: #9b9b9b;
$Grey_color5: #dddddd;
$Grey_color6: #b6b6b6;




$bg_color: #fafafa;

$color1: #6b6b6b;
$DF_color2: #747474;
//------------------------------------*\
//		font
//------------------------------------*/
$normal_font: "Microsoft JhengHei", "微軟正黑體", Arial, "Helvetica Neue", Helvetica;
$normal_font2: Arial, "Helvetica Neue", Helvetica, sans-serif;
$ff-CenturyGothic: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
$ff-Verdana: Verdana, "Geneva", sans-serif;
$ff-Helvetica:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$fz-XL: 19px;
$fz-LL: 17px;
$fz-L: 15px;
$fz-N: 13px;
$fz-S: 11px;
$fz-SS: 9px;

//------------------------------------*\
//		font
//------------------------------------*/
$easing1: cubic-bezier(0.4, 0, 0.2, 1);
$easing2: cubic-bezier(0.7, 0, 0.3, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);



//------------------------------------*\
//		other
//------------------------------------*/
$borderRadius: 8px; // 圓角半徑






// $fill_in_table_bg: #edecea;

// $tabs-base-color: #cbcbcb;

// $text-color: #727171;
// $normal-bgcolor: #db0933;

// $wrapper-width: 960px;


