@charset "UTF-8";

$cnt_width: 1200px;


//------------------------------------*\
//		color
//------------------------------------*/
//project
$normal_color: #45bcb4;  //主色
$normal_color1: #282828;  //輔色1
$normal_color2: #84d8d1;


$normal_color3: #e67800;
$normal_color4: #af1355;
$normal_color5: #18a482;
$normal_color5_1: #54d4d5;

$logo_color1: #6EB92B;
$logo_color2: #5C605D;

$green: #6fba2c;

$bd_color: #898989;
$bd_color1: lighten($bd_color, 15.5%);//#b1b1b1
$bd_color2: lighten($bd_color, 20%);//#bcbcbc
$bd_color3: lighten($bd_color, 25%);//#c9c9c9
$bd_color4: lighten($bd_color, 30%);//#d5d5d5

$mainColor1_1: #26cda4;
$mainColor1_2: #2ea98b;




$hover_color: #bc0021;
$footer_color: #585858;


$Grey_color1: #595757;

$Grey_color2: #747474;

$Grey_color3: #6b6b6b;
$Grey_color4: #9b9b9b;
$Grey_color5: #dddddd;
$Grey_color6: #b6b6b6;
$Grey_color7: #e3e2e2;
$Grey_color8: #e0e0e0;




$bg_color: #fafafa;

$DF_color2: #747474;
//------------------------------------*\
//		font
//------------------------------------*/
$normal_font: "Microsoft JhengHei", "微軟正黑體", \5FAE\x8F6F\6B63\9ED1\4F53, Arial, "Helvetica Neue", Helvetica;
$normal_font4: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$normal_font2: "PMingLiU", \65B0\7EC6\660E\4F53, Arial, "Helvetica Neue", Helvetica, sans-serif;
$normal_font3: "Helvetica Neue", Arial, Helvetica, sans-serif;
$ff-CenturyGothic: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
$ff-Verdana: Verdana, "Geneva", sans-serif;
$ff-Helvetica:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$fz-XL: 19px;
$fz-LL: 17px;
$fz-L: 15px;
$fz-N: 13px;
$fz-S: 11px;
$fz-SS: 9px;


$base-font-size: 16px;
$base-line-height: 24px;

$rhythm-unit: rem;

//------------------------------------*\
//		easing
//------------------------------------*/
$easing1: cubic-bezier(0.4, 0, 0.2, 1);
$easing2: cubic-bezier(0.7, 0, 0.3, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutCubic2: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic3: cubic-bezier(0.12, 0.49, 0.17, 0.87);



//------------------------------------*\
//		other
//------------------------------------*/
$borderRadius: 8px; // 圓角半徑




//------------------------------------*\
//		box shadow
//------------------------------------*/

$boxShadow: 0px 9px 21px rgba(0, 0, 0, 0.75);
$boxShadowHover: 3px 10px 21px rgba(0, 0, 0, 1);
$boxShadowHover1: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);


// $fill_in_table_bg: #edecea;

// $tabs-base-color: #cbcbcb;

// $text-color: #727171;
// $normal-bgcolor: #db0933;

// $wrapper-width: 960px;


