@charset "UTF-8";

$cnt_width: 960px;

$index_youtube_w: 285px;
$index_youtube_h: 180px;

$news_pic_w: 120px;
$news_pic_h: 80px;

$bd_w: 2px;

$header_h: 73px;

//------------------------------------*\
//		color
//------------------------------------*/
$normal_color: #794916;
$normal_color2: #a7dcd7;

$hover_color: #bc0021;
$footer_color: #c6c6c6;

$DF_color: #595757;
$bg_color: #fafafa;

//------------------------------------*\
//		font
//------------------------------------*/
$normal_font: "Microsoft JhengHei", "微軟正黑體", Arial, "Helvetica Neue", Helvetica;
$normal_font2: Arial, "Helvetica Neue", Helvetica, sans-serif;
$ff-CenturyGothic: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
$ff-Verdana: Verdana, "Geneva", sans-serif;

$fz-XL: 19px;
$fz-LL: 17px;
$fz-L: 15px;
$fz-N: 13px;
$fz-S: 11px;
$fz-SS: 9px;


//------------------------------------*\
//		other
//------------------------------------*/
$borderRadius: 8px; // 圓角半徑






// $fill_in_table_bg: #edecea;

// $tabs-base-color: #cbcbcb;

// $text-color: #727171;
// $normal-bgcolor: #db0933;

// $wrapper-width: 960px;


