@charset "UTF-8";

/******************************************/
/*		IPC
/*			by DFocus AuTiMoThY
/******************************************/
/*
* TOC
* 
* _Layout
* btn
* form input textarea
* loading
* Header
* Footer
* nav
* banner
* mod
* AsideMod
* CntMod
* Index_page
* BookList_page
* BookList_page
* book
* lesson
* font    icon
*/

@import "_variable";
@import "_mixin";
// @import "_font.scss";
@import "compass";
@import "ceaser-easing";

@include establish-baseline;


@include font-face("HelveticaNeueLTCom", font-files("HelveticaNeueLTCom-Th.ttf", "HelveticaNeueLTCom-Th.woff"));

// @import _animate.sass
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
		>	_Initial
\*------------------------------------------------------------------------*/
@import "_Initial";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_Layout
\*========================================================================*/
@import "project/_Layout";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	btn
\*========================================================================*/
@import "module/_pageBtn";

@import "module/_btn";

// @import "_materialBtn";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	form input textarea
\*========================================================================*/
form input[type="text"], 
form input[type="email"], 
form input[type="password"],
form input[type="telephone"],
form textarea,
form select {
	// max-width:500px;
	height: 30px;
	background:#f4f4f4;
	border:2px solid #bec2c5;
	// padding:4px 0;
	color:#303030;
	// text-indent:8px;
	@include box-shadow(inset 1px 3px 5px 0px rgba(0,0,0,0.4));
}
form select {
	@include box-shadow(none);
	margin: 0;
}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	loading
\*========================================================================*/
// @import "module/_loading";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Header
\*========================================================================*/
@import "project/_Header";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Footer
\*========================================================================*/
@import "project/_Footer";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	nav
\*========================================================================*/


/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	banner
\*========================================================================*/
.banner {
	margin-top: 1px;
}
@import "_CAROUSEL";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	mod
\*========================================================================*/
@import "module/_tag_vertical";

@import "module/_tabs";

@import "project/_MOD";




/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	font    icon
\*========================================================================*/
.txt {
	&-r {
		color: #f20101;
		font-size: 1.3em;
		font-weight: bolder;
	}
	&-b {
		color: $normal_color;
	}
	&-b1 {
		color: #0067c0;
	}
	&-bk {
		color: #221815;
	}
	&-bk1 {
		color: #000;
	}
	&-new {
		color: $normal_color;
		font-size: 1.1em;
		text-transform: uppercase;
		text-shadow: none;
	}
	&-ora {
		color: #ffac28;
	}
	&-ora1 {
		color: #e67800;
	}
}
.fa-angle-left, .fa-angle-right {
	color: #fff;
	@include scale(1.1);
}

