.login_btn {
	@include wh(105px, 20px);
	background-color: $normal_color;
	@include border-radius(10px);
	@include box-shadow(rgba(115, 56, 46, 0.75) 1px 1px 2px);
	position: absolute;
	top: 15px;
	right: 10px;
	cursor: pointer;
	&:before {
		@include psudoClass;
		@include wh(100%);
		@include bgImg('txts.png');
		@include bg(9px, 4px);
		position: absolute;
	}
	&.mc {
		width: 90px;
		&:before {
			@include bg(-86px, 4px);
		}
		a {
			@include wh(100%);
			display: block;
			position: relative;
			z-index: 800;
		}
	}
}

/*------------------------------------*\
	>>>	login_block
\*------------------------------------*/
.login_block {
	@include wh-bgImg(login_bg, png);
	@include bgImg('login_bg.png');
	position: absolute;
	right: -10px;
	z-index: 999;
	padding: 28px 6px 8px;
	cursor: default;
	/*font*/
	color: #8e4429;
	font: 13px/21px $normal_font;
	letter-spacing: 1px;
	label {
	}
	a.login_btn2 {
		@include wh(60px, 25px);
		background-color: #8e4429;
		@include border-radius(2px);
		margin: 15px 0 20px 35px;
		position: relative;
		&:before {
			@include psudoClass;
			@include wh(100%);
			@include bgImg('txts.png');
			@include bg(-202px, -110px);
			position: absolute;
		}
	}
	a.login_btn3 {
		color: #8e4429;
		text-decoration: underline;
	}
	a.login_btn4 {
		@include wh(170px, 40px);
		@include bgImg('icons.png');
		@include bg(-66px, -124px);
	}
	@at-root {
		.login_block_col_1 {
			@include wh(355px - 1px, 100%);
			border-right: 1px dotted #fff;
			padding: 20px 20px 20px 40px;
			float: left;
			h3 {
				@include wh(80px, 20px);
				@include bgImg('txts.png');
				@include bg(0, -114px);
				margin-left: 35px;
				margin-bottom: 10px;
			}
			li {
				@include wh(100%, 21px);
				margin-bottom: 8px;
				float: none;
			}
			input {
				@include wh(185px, 100%);
			}
			label {
				@include wh(35px, 100%);
			}
			span.q {
				margin-left: 35px;
			}
		}
		.forget {
			a {
				text-decoration: underline;
				color: #8e4429;
			}
		}
		.login_block_col_2 {
			float: left;
			padding: 20px;
			h3 {
				@include wh(80px, 20px);
				@include bgImg('txts.png');
				@include bg(-108px, -114px);
				// margin-left: 35px;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 50px;
			}
		}
	}
}
#login {
	.login_block {
		display: none;
		opacity: 0;
	}
	&.open {
		.login_block {
			display: block;
		}
	}
}



