@charset "UTF-8";

@mixin line() {
	@include psudoClass;
	@include wh;
	@include bg('line2.png', 0, 0, repeat);
	position: absolute;
	top: 0;
	z-index: 0;
}

.asideMod {
	@include margin-trailer(0.8);
	border-radius: 5px;
	position: relative;
	* {
		width: 100%;
	}
	&-block, h1 {
		z-index: 10;
	}
	&-block {
		position: relative;
	}
	h1 {
		height: 40px;
		position: relative;
		margin: 0;
		.icon {
			// @include bg();
			position: absolute;
			z-index: 20;
		}
		.title3 {
			// @include bg('txts.png');
			@include VerticalAlign;
			// position: absolute;
			// top: 0;
			// bottom: 0;
			// margin: auto;
			z-index: 10;
		}
	}

	@include atRoot{
/*========================================================================*\
		>>	asideMod  icon
\*========================================================================*/
	.icon {
		@each $asideModB, $w, $h, $x, $y in
		(book_classi, 60px, 62px, 0, -110px),
		(this_month, 61px, 40px, 0, -179px),
		(publishing_house, 62px, 44px, -74px, -179px),
		(more_inf, 52px, 47px, -142px, -179px),
		(hot_popular, 50px, 56px, -210px, -179px) {
			.asideMod-#{$asideModB} & {
				@include wh($w, $h);
				@include bg('iconTxt.png', $x, $y);
			}
		}
	}
	};//  asideMod  icon  atRoot

	@include atRoot{
/*========================================================================*\
		>>	asideMod  title3
\*========================================================================*/
	.title3 {
		@each $asideModB, $w, $h, $y in
		(book_classi, 98px, 24px, -124px),
		(this_month, 124px, 24px, 0),
		(publishing_house, 124px, 24px, -40px),
		(more_inf, 124px, 24px, -79px),
		(hot_popular, 124px, 24px, -162px) {
			.asideMod-#{$asideModB} & {
				@include wh($w, $h);
				@include bg('txts.png', -463px, $y);
			}
		}
	}
	};//  asideMod  icon  atRoot

	@include atRoot{
/*========================================================================*\
		>>	asideMod-book_classi
\*========================================================================*/
	&-book_classi {
		height: 445px;
		@include background-image(linear-gradient(#029beb, $normal_color));
		// @include bg('aside_bg1.png', 0, 0, repeat);
		position: relative;
		@include padding-trailer(0.1);
		// overflow: hidden;
		&:before {
			@include line;
		}
		.icon {
			top: -13px;
			left: -5px;
		}
		.title3 {
			left: 30%;
		}
		&-block {

		}
		&-menu {
			overflow: hidden;
			li {
				float: none;
				position: relative;
				span[class*="icon"] {
					position: absolute;
					display: block;
				}
			}
			a {
				@include wh(100%, 50px);
				display: block;
				position: relative;
			}
		}
		&-item {
			height: auto;
			// @include bg('aside_menu_bg.png');
			margin-bottom: 0.3em;
			// box-shadow: 1px 1px 3px rgba(#333, 0.4);
			&:before {
				@include psudoClass;
				@include wh(100%, 50px);
				@include bg('aside_menu_bg.png');
				box-shadow: 1px 1px 3px rgba(#333, 0.4);
				position: absolute;
				top: 0;
			}
			.icon {
				@include wh(60px, 65px);
				top: 3px;
				left: 25px;
			}
			@each $item, $x in
			(item1, -61px),
			(item2, -128px),
			(item3, -210px) {
				&.#{$item} {
					.icon {
						@include bg('iconTxt.png', $x, -110px);
					}
				}
			}
			.item_txt {
				@include wh(113px, 32px);
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 33.5%;
			}
			@each $item, $x in
			(item1, -108px),
			(item2, -227px),
			(item3, -345px) {
				&.#{$item} {
					.item_txt {
						@include bg('txts.png', $x, -79px);
					}
					&:hover {
						.item_txt {
							@include bg('txts.png', $x, -124px);
						}
					}
				}
			}
			&:hover:before {
				@include bg('aside_menu_bg-Hover.png');
			}
		}
		&-subMenu {
			width: 90%;
			@include bg(#fff);
			border-radius: 5px;
			margin: 0.5em auto 0.8em;
			overflow: hidden;
			li {
				height: 55px;
				border-top: 1px solid lighten($Grey_color5, 5%);
				padding: 0 0.5em;
				position: relative;
				&:first-of-type {
					border-top: none;
				}
				&:hover {
					@include bg(#0096e6);
					box-shadow: inset 0px 0px 15px 5px rgba(#ffffff, 0.3);
					&:before {
						@include psudoClass;
						@include wh;
						@include bg('line1.png', 0, 0, repeat);
						position: absolute;
						top: 0;
						left: 0;
						@include opacity(0.5);
					}
					a {
						color: $normal_color2;
					}
				}
			}
			a {
				height: 100%;
				color: $normal_color;
				font-size: 1.2em;
				font-family: $normal_font;
				// line-height: 55px;
				padding-left: 45px;
				span {
					height: 100%;
					line-height: 55px;
					display: block;
				}
			}
			.sub_icon {
				@include wh(41px, 100%);
			}
			@each $subItem, $x, $y, $txtY, $txtY-hover in
				(subItem1, 0, -100px, 0 + 17px, -250px + 17px),
				(subItem2, 0, -160px, -54px + 17px, -304px + 17px),
				(subItem3, 0, -212px, -108px + 17px, -358px + 17px),
				(subItem4, 0, -277px, -162px + 6px, -411px + 6px) {
				.#{$subItem} {
					.sub_icon {
						@include bg('iconTxt.png', -275px, $y);
					}
					.txt {
						@include bg('txts.png', -607px, $txtY);
					}
					&:hover {
						.sub_icon {
							@include bg('iconTxt.png', -334px, $y);
						}
						.txt {
							@include bg('txts.png', -607px, $txtY-hover);
						}
					}
				}
			}
		}//.asideMod-book_classi-subMenu
	}//.asideMod-book_classi
	};//.asideMod-book_classi  atRoot

	@include atRoot {
/*========================================================================*\
		>>	asideMod-this_month
\*========================================================================*/
	&-this_month {
		height: 360px;
		@include background-image(linear-gradient(#6975dd, #4a47a7));
		// @include bg('aside_bg2.png', 0, 0, repeat);
		// @include padding-trailer(0.4);
		&:before {
			@include line;
		}
		.icon {
			top: 5px;
			left: -3px;
		}
		.title3 {
			left: 30%;
		}
		&-block {
			width: 90%;
			@include bg(#fff);
			border-radius: 5px;
			margin: 0 auto;
			padding: 0.5em;
		}
		figcaption {
			@include rhythm-padding(0.5);
		}
		.book-name {
			color: #605cc2;
			font-weight: bolder;
		}
		.btn {
			width: 48.5%;
			@include bg(#605cc2);
			display: inline-block;
			&:hover {
				@include bg(adjust-hue(#605cc2, 30%));
			}
			a {
				display: block;
				padding: 0;
				color: #fff;
				@include adjust-font-size-to(13px);
				font-weight: normal;
				letter-spacing: 0;
				text-align: center;
			}
		}
	}//.asideMod-this_month
	};//.asideMod-this_month  atRoot

	@include atRoot{
/*========================================================================*\
		>>	asideMod-publishing_house
\*========================================================================*/
	&-publishing_house {
		height: 290px;
		@include background-image(linear-gradient(#2eceec, #009cba));
		// @include bg('aside_bg3.png', 0, 0, repeat);
		&:before {
			@include line;
		}
		.icon {
			top: -4px;
			left: -5px;
		}
		.title3 {
			left: 28%;
		}
		li.item {
			height: 43px;
			@include bg(#fff);
			float: none;
			@include margin-trailer(0.2);
			// padding-left: 15px;
			&:hover {
				box-shadow: 1px 1px 3px rgba(#333, 0.8);
			}
			a {
				@include wh;
				display: block;
				color: #000;
				@include adjust-font-size-to(15px);
				font-weight: bold;
				// line-height: 43px;
				@include transition(all 0.3s ease-out);
				&:hover {
					color: $normal_color;
				}
			}
			.pic {
				// width: 35px;
				// margin-right: 5px;
				// display: inline-block;
			}
		}
		&-block {
			padding: 0.3em 0.5em;
			
		}//.asideMod-publishing_house-block
	}//.asideMod-publishing_house
	};//.asideMod-publishing_house  atRoot
	
	@include atRoot{
/*========================================================================*\
		>>	asideMod-more_inf
\*========================================================================*/
	&-more_inf {
		height: 360px;
		@include background-image(linear-gradient(#6b96bd, #6571ac));
		// @include bg('aside_bg4.png', 0, 0, repeat);
		&:before {
			@include line;
		}
		.icon {
			top: -4px;
			left: -5px;
		}
		.title3 {
			left: 28%;
		}
		li {
			@include bg(#fff);
			float: none;
			@include margin-trailer(0.5);
			@include transition(all 0.3s ease-out);
			&:hover {
				box-shadow: 1px 1px 3px rgba(#333, 0.8);
			}
			a {
				@include wh;
				display: block;
				color: #000;
			}
		}
		&-block {
			padding: 0.3em 0.5em;
		}//.asideMod-more_inf-block
	}//.asideMod-more_inf
	};//.asideMod-more_inf  atRoot

	@include atRoot{
/*========================================================================*\
		>>	asideMod-hot_popular
\*========================================================================*/
	&-hot_popular {
		height:  560px;
		@include background-image(linear-gradient(#2ecdec, #009cba));
		// @include bg('aside_bg4.png', 0, 0, repeat);
		&:before {
			@include line;
		}
		.icon {
			top: -10px;
			left: 5px;
		}
		.title3 {
			left: 30%;
		}
		.number {
			@include wh(30px);
			margin-right: 5px;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			// @include VerticalAlign;
			// display: inline-block;
			// position: absolute;
			// top: 3%;
			// left: 2%;
		}
		li {
			padding: 0.3em;
			// margin-bottom: 0;
			float: none;
			// @include margin-trailer(0.5);
			@include transition(all 0.3s ease-out);
			&:hover {
				// box-shadow: 1px 1px 3px rgba(#333, 0.8);
			}
			a {
				@include wh;
				display: table;
				// padding-left: 30px;
				color: $Grey_color1;
				@include adjust-font-size-to(13px);
			}
		}
		&-item {
			height: 51px;
			border-bottom: 1px solid #e3e2e2;
			position: relative;
			@for $i from 1 through 10 {
				&:nth-of-type(#{$i}) {
					.number {
						@include bg('No#{$i}.svg');
					}
				}
			}
			&:after {
				@include psudoClass;
				@include wh(100%, 1px);
				@include bg(#f8f8f8);
				position: absolute;
				bottom: -2px;
			}
			&:hover {
				@include bg(#f8f8f8);
				a {
					color: #f39800;
				}
			}
			p {
				width: 75%;
				height: 100%;
				vertical-align: middle;
				display: table-cell;
			}
		}
		&-block {
			width: 90%;
			@include bg(#fff);
			// padding: 0.3em 0.5em;
			margin: auto;
			border-radius: 5px;
			overflow: hidden;
		}//.asideMod-hot_popular-block
	}//.asideMod-hot_popular
	};//.asideMod-hot_popular  atRoot


}//.asideMod