@charset "UTF-8";

.cntMod {
	@include margin-trailer(1.2);
	* {
		width: 100%;
	}
	hgroup {
		position: relative;
	}
	@include atRoot{
/*========================================================================*\
		>>	cntMod    hgroup
\*========================================================================*/
	@each $var, $h, $patternY, $beforeW, $beforeH, $beforeY, $beforeTop, $beforeLeft in
		(topic, 93px, 0, 86px, 86px, 0, -4px, -4px),
		(featured_reco, 65px, -113px, 87px, 102px, -110px, -20px, -4px),
		(book_news, 75px, -198px, 86px, 86px, 0, -4px, -4px),
		(serial_books, 93px, -293px, 86px, 86px, 0, -4px, -4px) {
		&-#{$var} {
			hgroup {
				height: $h;
				@include bg('pattern.png', 50%, $patternY);
				&:before {
					@include psudoClass;
					@include wh($beforeW, $beforeH);
					@include bg('iconTxt.png', -520px, $beforeY);
					position: absolute;
					top: $beforeTop;
					left: $beforeLeft;
					// z-index: 10;
				}
			}
		}
	}
	};
	&-block {
		padding: 0 15px;
	}
	@include atRoot{
/*========================================================================*\
		>>	cntMod-topic  經典主題館
\*========================================================================*/
	&-topic {
		@include bg(#b5185b);

		&-block {
			// padding: 0 15px;
		}//.cntMod-topic-block
		%h_carousel_controls {
			background-color: transparent;
			border: none;
			position: absolute;
			bottom: 10px;
		}
		&-banner {
			margin-bottom: 1em;
			position: relative;
			&:after {
				@include psudoClass;
				@include wh(100%, 5px);
				@include bg('line_dashed1.png', 0, 50%, repeat);
			}
			.h_carousel_controls {
				@extend %h_carousel_controls;
			}
			.flex {
				&-viewport {
					height: 340px;
					overflow: hidden;
				}
				&-control-nav {
					li {
						width: auto;
					}
					a {
						@include bg(#ffdd8b);
						box-shadow: 1px 1px 5px rgba(#000, 0.8);
						&.flex-active {
							@include bg(#f47226);
							box-shadow: 1px 1px 5px rgba(#000, 0.8);
						}
					}
				}
			}
			.slides {
				height: 300px + 2px;
				border-bottom: none;
				// padding-bottom: 38.7755%;
				// padding-bottom: 39.2405%;
				padding-bottom: 0;
				// border: 3px solid #f8f8f8;
				position: relative;
				&>li {
					height: 300px + 2px;
					// padding-bottom: 38.7755%;
					// padding-bottom: 39.2405%;
					padding-bottom: 0;
					position: relative;
					&:after {
						@include psudoClass;
						@include wh(772px, 88px);
						@include bg('shadow1.png');
						position: absolute;
						bottom: -31px;
						z-index: -1;
					}
				}
				.pic {
					// box-shadow: inset 2px 2px 15px rgba(#000, 0.8);
					height: 100%;
					position: relative;
					// border: 3px solid #f8f8f8;
				}
			}//.slide
			&.banner-col2 {
				padding-bottom: 1em;
				&:after {
					display: none;
				}
				.flexslider {
					padding-bottom: 1em;
				}
				.h_carousel_controls {
					bottom: -10px;
				}
				.flex {
					&-viewport {
						height: 280px;
					}
				}
				.slides {
					&>li {
						&:after {
							display: none;
						}
					}
					.pic {

					}
				}
			}
		}//.cntMod-topic-banner
		&-item {
			&>.col {
				@include bg(#fff);
				width: 48%;
				padding: 0.5em;
				&:first-of-type {
					margin-right: 1em;
				}
			}
			.small-6 {
				width: 50%;
				float: left;
			}
			p {
				color: #666;
				@include adjust-font-size-to(13px, 0.8);
			}
			.pic {
				margin-bottom: 0.5em;

			}
		}
	}//.cntMod-topic
	}

	@include atRoot{
/*========================================================================*\
		>>	cntMod-featured_reco  精選強打
\*========================================================================*/
	&-featured_reco {
		@include bg(#039fc8);
		&-block {
			padding-bottom: 15px;
		}
		&-banner {
			.flexslider {
				position: relative;
			}
			.h_carousel_controls {
				@include bg(transparent);
				border-bottom: none;
				position: absolute;
				top: -45px;
			}
			.flex {
				&-control-nav {
					text-align: right;
					li {
						width: auto;
					}
					a {
						@include hide_txt;
						@include bg(#fff);
						&:hover, &.flex-active {
							@include bg(#a7a7a7);
						}
					}
				}
			}
			.slides {
				height: 0;
				padding-bottom: 33.33%;
				border-bottom: none;
				&>li {
					padding-bottom: 33.33%;
				}
				.col-2 {
					width: 48.5%;
					&:first-of-type {
						margin-right: 2%;
					}
				}
			}
		}//.cntMod-featured_reco-banner
		&-books {
			height: 300px;
			.menu {
				@include wh(10%, 100%);
				// height: 100%;
				li {
					height: 25%;
					float: none;
					position: relative;
					@each $var, $color, $pdT in
						(1, $normal_color, 20px),
						(2, #f39800, 20px),
						(3, #6fba2c, 6px),
						(4, #da341d, 20px) {
						&:nth-of-type(#{$var}) {
							&:before {
								@include psudoClass;
								@include wh(10px, 100%);
								@include bg($color);
								position: absolute;
								left: 0;
								z-index: 10;
							}
							a {
								padding-top: $pdT;
							}
						}
					}
				}
				a {
					@include wh;
					@include bg(#fff);
					// padding: 1em;
					display: block;
					text-align: center;
					padding-left: 10px;
					position: relative;
					color: #000;
					&.selected {
						@include bg(#efefef);
						font-weight: bolder;
					}
				}
			}
			.showbox {
				@include wh(90%, 100%);
				@include bg(#fff);
				margin-left: 10%;
				li {
					// padding: 1.5em 0;
				}
				.col {
					@include wh(24%, 100%);
					padding: 1.5em 0;
					overflow: hidden;
				}
				.pic {
					margin-bottom: 1em;
				}
				figcaption {
					padding: 0 0.5em;
				}
			}
		}//.cntMod-featured_reco-books
	}//.cntMod-featured_reco
	}

	@include atRoot{
/*========================================================================*\
		>>	cntMod-most_popular  熱門排行
\*========================================================================*/
	&-most_popular {
		width: 100%;
		&-block {
			height: 550px;
		}
	}//.cntMod-most_popular
	}

	@include atRoot{
/*========================================================================*\
		>>	cntMod-book_news  最新出版
\*========================================================================*/
	&-book_news {
		hgroup {
			@include bg(#b5185b);
			@include margin-trailer(0.8);
			.btn {
				width: 265px;
				@include bg(#c0c0c0);
				border-radius: 20px;
				box-shadow: 3px 3px 0px rgba(#000, 0.5);
				padding: 0 2em;
				display: inline-block;
				position: relative;
				&:hover, &.active {
					@include bg(#feb300);
					&:before {
						@include psudoClass;
						@include wh(40px);
						@include bg('iconTxt.png', -385px, -55px);
						position: absolute;
						top: -8px;
						left: -10px;
					}
				}
				&:first-of-type {
					margin-right: 3%;
				}
			}
			.book_name {
				display: block;
				@include wh;
				color: #000;
				@include adjust-font-size-to(13px);
				@include ellipsis;
			}
		}
		.btns {
			// width: 50%;
			position: absolute;
			padding-left: 27%;
		}
	}
	}

	@include atRoot{
/*========================================================================*\
		>>	cntMod-serial_books  精選套書
\*========================================================================*/
	&-serial_books {
		@include bg(#b5185b);
		.flexslider {
			margin-bottom: 0 !important;
		}
		.h_carousel_controls {
			@include bg(transparent);
			border-bottom: none;
			position: absolute;
			bottom: 10px;
		}
		&-listCtrl {
			@include bg('line1.png', 0, 0, repeat);
			padding: 0.5em 15px;
			color: #fff;
			@include adjust-font-size-to(13px);
			.col {
				width: 50%;
			}
			select {
				width: 200px;
				margin: 0;
				color: #000;
			}
			option {
				color: #000;
			}
		}//.cntMod-serial_books-listCtrl
		.cntMod-topic-banner {
			margin-bottom: 0;
			padding: 0 15px;
		}
	}//.cntMod-serial_books
	}

	@include atRoot{
/*========================================================================*\
		>>	cntMod-book_list  書籍清單
\*========================================================================*/
	&-book_list {
		@include bg(#fff);
		@include rhythm(0, 0.6);
		.col-4{
			width: 24%;
			margin: 0.5% 0.5%;
		}
		&-item {
			height: 295px;
			position: relative;
			.row-1 {
				position: relative;
			}
			figure {
			}
			figcaption {
				padding: 0.5em 0.8em;
				position: relative;
				z-index: 30;
			}
			&:hover {
				box-shadow: 1px 1px 3px rgba(#eee, 0.8);
				&:before {
					@include psudoClass;
					@include wh;
					border: 1px solid #eaeaea;
					position: absolute;
					top: 0;
					z-index: 10;
				}
				.cntMod-book_list-item-hover {
					display: block;
					opacity: 1;
				}
			}
			&-hover {
				@include wh;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 20;
				display: none;
				opacity: 0;
				@include transition(all 0.3s ease-out);
				.btns {
					// @include VerticalAlign;
					position: absolute;
					bottom: 0;
				}
				.btn {
					width: 50%;
					float: left;
					border-radius: none;
					i {
						width: auto;
						margin-right: 0.2em;
					}
					a {
						display: inline-block;
						padding: 0;
						@include adjust-font-size-to(13px);
						text-align: center;
					}
					&-addToCart {
						@include bg(#da341d);
						&:hover {
							@include bg(saturate(#da341d, 5%));
						}
					}
					&-addToFavorite {
						@include bg(#6fba2c);
						&:hover {
							@include bg(saturate(#6fba2c, 5%));
						}
					}
				}
			}//.cntMod-book_list-item-hover
		}//.cntMod-book_list-item
		
	}//.cntMod-book_list
	}
}//.cntMod