@charset "UTF-8";

/*========================================================================*\
		>>	layout main
\*========================================================================*/
article#main {
	@include rhythm(0.8);
}

/*========================================================================*\
		>>	layout footer
\*========================================================================*/
.affiliate {
	width: 88px;
}
.epaper {
	width: 60%;
	margin-left: 1%;
	&-block, form {
		width: 100%;
	}
}
.sitemap {
	width: 28%;
	margin-left: 1%;
}

/*========================================================================*\
		>>	layout mod
\*========================================================================*/
.mod {
	&-most_popular {
		width: 80%;
		&-block {
			@extend %blockW100p;
		}
	}
	&-IPC_choice {
		width: 19.5%;
		&-block {
			@extend %blockW100p;
		}
	}
	&-spec_promotion {
		width: 76.5%;
		// width: 800px + 16px;
		&-block {
			@extend %blockW100p;
		}
	}
	&-news_edm {
		width: 23%;
		// width: $cnt_width - 816px - 5px;
		&-block {
			@extend %blockW100p;
		}
	}
	&-news_lessons {
		// width: 50%;
		// float: left;
		&-block {
			@extend %blockW100p;
		}
	}
	&-economics_views {
		// float: left;
		&-block {
			@extend %blockW100p;
		}
	}
	%blockW100p {
		width: 100%;
	}
}

/*========================================================================*\
		>>	layout asideMod  container
\*========================================================================*/
.asideMod {
	width: 200px;
	&~.container {
		width: 800px;
		margin-left: 19px;
	}
}


