@charset "UTF-8";

button {
	// background-color:#2ba6cb;
	// border: 1px solid #2284a1;
	// margin:0 0 1.25em;
	// padding: 0.75em 1.5em 0.8125em 1.5em;
	position:relative;
	// display:inline-block;
	// color:#fff;
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	line-height:1;
	outline: none;
	&.btn {
		border: none;
		background: none;
	}
}

.btn {
	// @include bg(#727171);
	position: relative;
	border: 0;
	cursor: pointer;
	// color: rgba(255, 255, 255, .84);
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	text-align:center;
	// @include transition(all 0.3s cubic-bezier(0.4, 0, .2, 1));
	// outline: 0!important;
	// display: table;
	display:inline-block;
	a, input, button {
		@include wh;
		// padding: 6px 13px;
		// color: #fff;
		font-size: $fz-L;
		font-weight: bold;
		letter-spacing: 1px;
		border: none;
		background: none;
	}
	a {
		// display: table-cell;
	}
	input {
		border: none;
		background: none;
	}
	&:hover {
		// @include bg(#007BBF);
		// @include box-shadow(1px 1px 3px #999);
		a, input {
			color: #fff;
		}
	}
	&:active {
		@include hover;
	}
	&-default.btn.btn {
		padding: 0.5em 1.2em;
		@include bg(#98c7d2);
		color: #004f5b;
		border: 1px solid #004f5b;
		border-radius: 0;
		&:hover {
			background-color: #004f5b;
			color: #fff;
		}
	}


/*========================================================================*\
		project 
\*========================================================================*/
	&-back {
		display: table;
		margin: 1em auto 0;
		padding: 0.3em;
		
		border: 1px solid #5c2113;
		border-radius: 0;
		button {
			@include wh(40, 13);
			@include bg-t(0, 0);
		}
		&:hover {
			@include bg(lighten($normal_color2, 20%));
		}
		&.btn {
			@include bg(#fff);
		}
	}
	&-send {
		// margin: 0;
		&:hover {
			@include bg(#5c2113);
			button {
				color: #fff;
			}
		}
	}
	&-reset.btn {
		&:hover {
			@include bg(#727171);
			border: 1px solid #727171;
			button {
				color: #fff;
			}
		}
	}
	&-assess {
		display: block;
		@include wh2(115 30);
		@include bg(#004f5b);
		color: #fff;
		text-align: center;
		line-height: 30px;
	}
	&-cancel.btn.btn {
		margin-right: 2em;
	}
	&-next.btn.btn {
		
	}
	&-adm.btn.btn {
		@include bg(color($colors, nor, 2));
		margin: 0;
		padding: 0.3em 0.8em;
	}
	&-adm-reply {
		// @include absolute(-1.5em);
	}
	&-adm-del {

	}

}//.btn

#marqueeBtn {
	&.btn {
		position: absolute;
		right: 0;
		width: 15px;
	}
}

.more_btn {
	@include absolute($r:50px, $b:20px);
	@include wh2(60 20);
	@include bg(#ecce54);
	border: 1px solid #172934;
	transition: all 0.1s ease-out;
	a {
		@include wh2;
		display: block;
		color: #000;
		font-size: em(11);
		line-height: 20px;
		text-align: center;
	}
	&:hover {
		box-shadow: 1px 1px 3px #666;
	}
}
