$tabsUlH: 32px;

.tab_block {
	// width: 650px;
	width: 100%;
	margin: 10px 0;
	position: relative;
	// float: right;
	// @at-root {
	ul.tabs {
		width: 100%;
		height: $tabsUlH;
		position: relative;
		z-index: 1;
		li {
			@include wh(auto, 100%);
			// @include bg(#e1e1e1);
			float: left;
			// overflow: hidden;
			position: relative;
			// margin-bottom: -1px;
			&:hover, &.active {
				a {
					color: #b3175a;
				}
			}
		}
		a {
			@include wh;
			display: block;
			// margin: 0 auto 0 45px;
			color: #fff;
			font-size: 15px;
			text-decoration: none;
			text-align: center;
		}

	}
	// }//at-root > ul.tabs
}


div.tab_container {
	clear: left;
	width: 100%;
	// background: #fff;
	position: relative;
	z-index: 1;
	right: 0;
	// top: $tabsUlH;
	// padding-top: $tabsUlH;
	.tab_content {
		width: 100%;
		min-height: 170px;
		padding: 15px 10px 10px;
		position: relative;
		top: 0;
	}
	h2 {
		margin: 0 0 20px;
	}
}

